<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <p class>
                    <a href="/atencion_al_cliente">Atención al cliente</a> | 
                    <a href="/terminos_del_servicio">Términos del servicio</a> | 
                    <a href="/aviso_de_privacidad">Aviso de privacidad</a>
                </p>
            </div>

            <div class="col-lg-12 col-12">
                <div class="copyright-text-wrap">
                        <p class="mb-0">
                            <span class="copyright-text">Copyright © 2036 <a href="#">PlayGet</a> Company. All rights reserved.</span>
                        </p>
                </div>
            </div>

        </div>
    </div>
</footer>
