<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>    
    </div>
</section>


<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="" class="navbar-brand mx-auto mx-lg-0">PlayGet</a>

        <div class="d-flex align-items-center d-lg-none">
            <i class="fas fa-shopping-basket"></i>
            <a class="custom-btn btn" href="#section_5">
                120-240-9600
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/catalogo">Todos nuestros Juguetes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/seguimiento">Busca tu pedido</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="servicios">Servicios</a>
                </li>
                <!--Si hace falta se pueden añadir o eliminar más secciones-->
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_4">Devoluciones</a>
                </li>

                <li class="nav-item">

                    <a class="nav-link click-scroll" href="/sobre_nosotros">Sobre nosotros</a>

                </li>
            </ul>

            <!-- Este botón es para la cesta de la compra-->
            <div class="d-lg-flex align-items-center d-none ms-auto">
                <ul class="navbar-right">
                    <li><a href="/carro" id="cart"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
