
.braintree-method__label{
    left: 5%;
    font-weight: 700;
    position: absolute;
}
.contenedorForm{
    position: absolute;
    top: 20%; 
    right: 30%;
    z-index: 4;
    background-color: palegoldenrod;
    padding: 20px;
    border-radius: 6px;
    height: 65vh;
    width: 40vw;
    overflow-y: auto;
}